<div class="container-fluid">

  <app-page-title title="Add Stratergy" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <div class="mb-3">
                  <label for="formrow-stratergyname-input">Stratergy name</label>
                  <input type="text" class="form-control" id="formrow-stratergyname-input">
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label for="example-entry-local-input">Entry time</label>
                <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00"
                  id="example-entry-local-input" required>
              </div>
              <div class="col-12 col-sm-6 col-md-3">
                <label for="example-exit-local-input">Exit time</label>
                <input class="form-control" type="datetime-local" value="2019-08-19T13:45:00"
                  id="example-exit-local-input" required>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Direction</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Timeframe</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Instrument(for analysis)</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Symbol to Trade</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Indicator 1</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-period1-input">Period 1</label>
                <input type="text" class="form-control" id="formrow-period1-input">
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-multiplier1-input">Multiplier 1</label>
                <input type="text" class="form-control" id="formrow-multiplier1-input">
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Candle Param 1</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Indicator 2</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-period2-input">Period 2</label>
                <input type="text" class="form-control" id="formrow-period2-input">
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-multiplier2-input">Multiplier 2</label>
                <input type="text" class="form-control" id="formrow-multiplier2-input">
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Candle Param 2</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Condition</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Order Type</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-target-input">Target</label>
                <input type="text" class="form-control" id="formrow-target-input">
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Target Unit</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-stoploss-input">Stoploss</label>
                <input type="text" class="form-control" id="formrow-stoploss-input">
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label class="col-form-label">Stoploss unit</label>
                <select class="form-select">
                  <option>Select</option>
                  <option>Large select</option>
                  <option>Small select</option>
                </select>
              </div>
              <div class="col-12 col-sm-6 col-md-3 mb-3">
                <label for="formrow-quantity-input">Quantity</label>
                <input type="text" class="form-control" id="formrow-quantity-input">
              </div>
            </div>

            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-secondary w-md mx-1">Cancel</button>
              <button type="submit" class="btn btn-primary w-md">Accept</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>